button{
    background-color: rgb(193, 159, 224);
    color:rgb(94, 3, 71)
    text-align: center;
    width: 500px;
   pading:30px;
    
}
* {
    /* outline: solid 1px red; */
    font-size: 16px;
    font-family: Nunito, sans-serif;
  }

  body {
    
height: auto;
  }

  img {
width: 55%;
  }

  .foto>img {
object-fit: cover;
  }

  header {      
    position: fixed;
    width: 100%;
    height: 60px;
    top:0;
    background-color: rgb(83, 2, 83);
    z-index: 1;
  }

  h1 {
    text-align: center;
    padding:1px;
    margin: 1px 0;
    font-size: 1.5rem;
  }    
  main {
    width: 90%;
    height: 100%;
    margin: 60px auto;
    vertical-align: top ;
    text-align: center;
    background-color: white;
  }

  .tarjeta {
    display: inline-block;
    position: relative;
    width: 180px;
    height: 160px;
    margin: 5px;
    border: 0.5px solid rgb(247, 222, 247)
    ;
    text-align: center;
    vertical-align: bottom;
    overflow: hidden; 
    /* ojo */
}

.contenido {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background: linear-gradient(to top, rgb(251, 233, 251), transparent);
    opacity: 0.7;      
}

h2, p {
    margin: 0;
    padding: 0 5px;
    text-align: center;
    /* border: 0.5px solid black; */
  }

  h2  {
    font-size: 1.1rem;
  }
  p {
    color: darkblue;
    font-size: 0.85rem;
  }

  .targeta {
    display: inline-block;
    position: fixed;
    right: 45%;
    top: 405px;
    width: 180px;
    height: 160px;
    margin: 5px;
    border: 0.5px solid lavender;
    text-align: center;
    vertical-align: bottom;
    overflow: hidden; 
    /* ojo */
}

.contingut {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background: linear-gradient(to top, lavender, transparent);
    opacity: 0.7;      
}

.photo {
   object-fit: cover; 
}